What is the aggregate purchase rate per person for members vs. non-members, pooling together the three age groups?

In [18]:
cbind(86/880, 124/1260)

     [,1]       [,2]
[1,] 0.09772727 0.0984127

Normality cannot be assumed, and so I will use the wilcoxon signed-rank ta

In [15]:
mdat <- matrix(c(22/484, 22/504, 30/308, 43/567, 34/88, 59/189), nrow = 3, ncol = 2, byrow = TRUE , 
               dimnames = list(c("31-40", "41-50", "51-60"), c("Diamond Members", "Diamond non-members")) )
mdat

      Diamond Members Diamond non-members
31-40 0.04545455      0.04365079
41-50 0.09740260      0.07583774
51-60 0.38636364      0.31216931

We see that we have to stratify across age.